# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

sensor: !include sensors.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
switch: !include switches.yaml
light: !include lights.yaml
template: !include templates.yaml
binary_sensor: !include binarysensors.yaml
cover: !include covers.yaml
fan: !include fans.yaml

homeassistant:
  customize: !include customize.yaml

frontend:
  themes: !include themes.yaml

utility_meter: !include utility.yaml

rest_command:
  switchbot_device_command:
    url: "https://api.switch-bot.com/v1.0/devices/{{ deviceId }}/commands"
    method: post
    content_type: "application/json"
    headers:
      Authorization: !secret switchbot_api
    payload: '{"command": "{{ command }}","parameter": "{{ parameter }}"}'

ifttt:
  key: !secret iftt_password

shell_command:
  update_ha: ha core update
  turn_off_unraid: "ssh -i /config/.ssh/wtahlerKey root@192.168.86.31 bash /boot/config/sleep.sh"
  update_git: "/root/config/gitupdate.sh"

device_tracker:
  - platform: ping
    hosts:
      billphone_ping: 192.168.86.12
      cassiepersonal_ping: 192.168.86.57
      cassiework_ping: 192.168.86.20
      bill_work_phone_ping: 192.168.86.43
      bill_oneplus8_ping: 192.168.86.47

alarm_control_panel:
  - platform: manual
    name: Home Alarm
    arming_time: 30
    delay_time: 20
    trigger_time: 4
    disarmed:
      trigger_time: 0
    armed_home:
      arming_time: 0
      delay_time: 0

notify:
  - platform: html5
    name: html5notifier
    vapid_email: "firebase-adminsdk-h3dks@html5-push-notifier.iam.gserviceaccount.com"
    vapid_pub_key: "BMDOLlXgZdPodZYdt83ZrdYs405ja9EaRfzIarWFN96MnOIa2C5vpDQdXq4NzT1yw-MHpiHHuT6z_SpxPCr2_RU"
    vapid_prv_key: !secret vprivkey
  - platform: telegram
    name: tgrambill
    chat_id: !secret bill_chat_id
  - platform: telegram
    name: tgramdad
    chat_id: !secret jim_chat_id

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - ::1
    - 172.30.33.0/24

google_assistant:
  project_id: mysmarthome-288213
  service_account: !include SERVICE_ACCOUNT.JSON
  report_state: true
  secure_devices_pin: !secret googlepin
  exposed_domains:
    - light
    - fan
  entity_config:
    light.green_light:
      expose: false
    switch.down_on:
      expose: true
    switch.down_off:
      expose: true
    light.downstairs_lights:
      expose: false
    light.all_lights:
      expose: false
    cover.small_bedroom_curtains:
      expose: true
    cover.big_bedroom_curtains:
      expose: true
    switch.night_switch:
      expose: true

recorder:
  db_url: !secret mysqldb
  purge_keep_days: 180

# influxdb:
#   host: a0d7b954-influxdb
#   port: 8086
#   max_retries: 3
#   username: "homeassistant"
#   password: !secret influxdbpass
#   database: "homeassistant"
#   precision: "s"

telegram_bot:
  - platform: polling
    api_key: !secret tgram_key
    allowed_chat_ids:
      - !secret bill_chat_id
      - !secret jim_chat_id

mqtt:
  broker: tahlerwireguard.duckdns.org
  certificate: auto
  port: 8883
  username: hamqtt
  password: !secret mqtt_password
  birth_message:
    topic: "wtahlerhass/status"
    payload: "on"
  will_message:
    topic: "wtahlerhass/status"
    payload: "off"

duckdns:
  access_token: !secret duck_token
  domain: tahler.duckdns.org
